<h3><%= @user.name %>'s Profile'</h3>

<ul>
  <li><%= @user.email %></li>
  <li><%= @user.password_digest %></li>
</ul>


<% if @user == @current_user %>
  <div class="controls">
    <%= link_to "Edit User", edit_user_path(@user) %>

    <%= link_to "Delete User", user_path(@user), :method => :delete, :data => {:confirm => "Are you sure?"} %>
  </div>
<% end %>
