<% provide(:title, @title) %>

<div class="row">
      <div class="col s6 m4">
            <section class="user_info">

              <h1>
                <%= @user.name %>
              </h1>
              <span>
                <%= link_to "View profile", @user %>
              </span>
              <span>
                <b>Goals: </b> <%= @user.goals.count %>
              </span>

      </section>
      <section class="stats">
            <%= render 'stats' %>
            <% if @users.any? %>
                  <% @users.each do |user| %>
                        <%= link_to "#{user.name}", user_path(user) %>
                  <% end %>
            <% end %>
      </section>
      </div>

      <!-- <div class="col s6 m4">
            <h3><%= @title %></h3>
            <%# if @users.any? %>
                  <ul class="users follow">
                  <%#= render @users%>
                  </ul>
                  <%#= will_paginate %>
            <%# end %>
      </div> -->
</div>
