<h3><%= @user.name %>'s Profile</h3>

<ul>
  <li>Email: <%= @user.email %></li>
  <li>Goals: <%= @user.goals.count %></li>
</ul>



  <section>
  <%= render :partial => 'stats' %>
  </section>

<% if @current_user.present? %>
<% if @user != @current_user%>
  <div class="col-md-8">
    <%= render :partial => 'follow_form' %>
  </div>
<% end %>

<% if @user == @current_user %>

    <div class="controls">

      <%= link_to "Edit Profile", edit_user_path(@user) %>

  </div>
<% end %>
<% end %>
