<h3><%= @goal.name %></h3>

<ul>
  <% @goal_steps.each do |s| %>
      <li><%= s.name %> <%= link_to( "Delete Step", goal_step_path( :id => s, :goal_id => @goal.id ), :method => "delete" ) %></li>
  <% end %>
</ul>

<%= form_for @new_step, :url => goal_steps_path( @goal ) do |s| %>
<p>
  Step: <%= s.text_field :name, :placeholder => "Step"%>
  <%= s.submit %>
</p>
<% end %>

<div class="controls">
  <button><%= link_to "Edit Goal", edit_goal_path(@goal) %> </button> |
  <button><%= link_to "Delete Goal", goal_path(@goal), :method => :delete, :data => {:confirm => "Are you sure?"} %></button>
</div>

<%#= link_to "Create Step", new_goal_step_path(@goal) %>
